<div class="home-container">

  <div class="hero-card">

    <div class="hero-content">
      <span class="badge-custom">{{'HOME.BADGE' | translate}}</span>

      <h1>{{'HOME.TITLE'|translate}}</h1>

      <p>
        {{'HOME.DESCRIPTION' | translate}}
      </p>
    </div>
    
    <div *ngIf="!isLogged()" 
    class="button-group d-flex justify-content-center">
    <a routerLink="/auth/login" class="btn btn-outline-primary btn-lg">
      {{'HOME.LOGIN'|translate}}
    </a>
    <a routerLink="/auth/register" class="btn btn-outline-primary btn-lg">
      {{'HOME.SIGNUP'|translate}}
    </a>
    </div>

    <div class="button-group d-flex justify-content-center">
    <a (click)="SwitchAr()" class="btn btn-outline-primary btn-lg">
      {{'HOME.ARABIC'|translate}}
    </a>
    <a (click)="SwitchEng()" class="btn btn-outline-primary btn-lg">
      {{'HOME.ENGLISH'|translate}}
    </a>
    </div>

    <div class="image-container">
      <img src="assets/College.jpg" alt="University Campus">
    </div>

  </div>

</div>