<nav class="navbar navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand"
       routerLink="/Home"
       routerLinkActive="active-link"
       [routerLinkActiveOptions]="{exact:true}">
      {{'HEADER.HOME'|translate}}
    </a>

    <div class="d-flex gap-3">

      <a *ngIf="role === 'ROLE_DOCTOR'"
          class="nav-link"
          routerLink="/Crs/register"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">
          {{'HEADER.MYCRS'|translate}}
      </a>

      <a *ngIf="role === 'ROLE_STUDENT'"
          class="nav-link"
          routerLink="/Crs/register"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">
          {{'HEADER.REGCRS'|translate}}
      </a>

      <a *ngIf="role === 'ROLE_STUDENT'"
          class="nav-link"
          routerLink="/Grds/Stud"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">
          {{'HEADER.MYGRD'|translate}}
      </a>

      <a *ngIf="role === 'ROLE_ADMIN'"
          class="nav-link"
          routerLink="/Docs"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">
          {{'HEADER.DCS'|translate}}
      </a>

      <a *ngIf="role === 'ROLE_ADMIN'"
          class="nav-link"
          routerLink="/Studs"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">
          {{'HEADER.STDS'|translate}}
      </a>

      <a *ngIf="role === 'ROLE_ADMIN'"
          class="nav-link"
          routerLink="/Facs"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">
          {{'HEADER.FCS'|translate}}
      </a>

      <a *ngIf="role === 'ROLE_ADMIN'"
          class="nav-link"
          routerLink="/Crs"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">
          {{'HEADER.CRS'|translate}}
      </a>

      <a *ngIf="role === 'ROLE_ADMIN'"
          class="nav-link"
          routerLink="/Grds"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">
          {{'HEADER.GRDS'|translate}}
      </a>

      <button *ngIf="role !== null"
        class="nav-link"
         (click)="logout()">
        {{'HEADER.LGOUT'|translate}}
      </button>

    </div>

  </div>
</nav>