<div class="page">

  <h2 *ngIf="role == 'ROLE_STUDENT' && courses.length != 0" class="title">Available Courses for register</h2>
  <h2 *ngIf="role == 'ROLE_DOCTOR' && courses.length != 0" class="title">My Courses</h2>
  <h2 *ngIf="role == 'ROLE_STUDENT' && courses.length === 0" class="title">No Courses Are Available For Register</h2>
  <h2 *ngIf="role == 'ROLE_DOCTOR' && courses.length === 0" class="title">You Have No Courses Yet</h2>

  <div class="table-wrapper">

    <table *ngIf="courses.length != 0" class="table">

      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Course ID</th>
          <th>Course Name</th>
          <th *ngIf="role === 'ROLE_STUDENT'">Course Tutor</th>
          <th *ngIf="role === 'ROLE_DOCTOR'">Number Of Students</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let c of paginatedCourses; let i = index">
          <td>{{(currentPage - 1) * itemsPerPage + i + 1}}</td>
          <td>{{c.courseid}}</td>
          <td>{{c.coursename}}</td>

          <ng-container *ngIf="role === 'ROLE_STUDENT'">
          <td *ngIf="c.doctor">{{c.doctor.first_name + " " + c.doctor.last_name}}</td>
          <td *ngIf="!c.doctor">Unknown yet</td>
          </ng-container>

          <td *ngIf="role === 'ROLE_DOCTOR'">Coming Soon</td> 

          <td>
            <button class="btn btn-success"
                    (click)="NextPage(c.coursename,c.courseid)">
            <i class="bi bi-arrow-right-circle"></i>
            </button>
          </td>
        </tr>   
      </tbody>

    </table>


<!-- Loading Spinner -->
  </div>

      <div class="d-flex justify-content-center mt-3" *ngIf="loading">
      <div class="text-center">
      <div class="spinner-grow text-primary"></div>
      <div class="text-muted mt-2">Fetching Data</div>
  </div>
</div>
<!-- Loading Spinner -->

</div>

<!-- Pagination -->
<nav *ngIf="courses.length != 0" class="d-flex justify-content-center mt-3">
  <ul class="pagination">

    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link"
              (click)="changePage(currentPage - 1)">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only"></span>
      </button>
    </li>

    <li class="page-item"
        *ngFor="let page of totalPages"
        [class.active]="page === currentPage">

      <button class="page-link"
              (click)="changePage(page)">
        {{ page }}
      </button>

    </li>

    <li class="page-item"
        [class.disabled]="currentPage === totalPages.length">
      <button class="page-link"
              (click)="changePage(currentPage + 1)">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only"></span>
      </button>
    </li>

  </ul>
</nav>
<!-- Pagination -->

<!-- Delete Modal -->
<app-modal
    [title]="'Register Selected Course'"
    [message]="'Are You Sure You Want To Register This Selected Course?'"
    (confirm)="ApplyPage()">
</app-modal>
<!-- Delete Modal -->