<div class="login-page">

  <div class="login-card card shadow-lg p-4">

    <h3 class="text-center mb-4">{{'SIGNUP.WELCOME'|translate}}</h3>

    <form #signform="ngForm" (ngSubmit)="Register()">

      <div class="mb-3">
        <select
        [(ngModel)]="register.role"
        required
        class="form-select mb-2"
        name = "role">
        <option value="" disabled selected>{{'SIGNUP.ROLE'|translate}}</option>
        <option value="STUDENT">
            {{'SIGNUP.S1'|translate}}
        </option>
        <option value = "DOCTOR">
            {{'SIGNUP.S2'|translate}}
        </option>
        </select>
      </div>


      <div class="mb-3" *ngIf="register.role">
        <label class="form-label">{{'SIGNUP.CODE'|translate}}</label>
        <input
          type="text"
          [(ngModel)]="register.code"
          name="name"
          class="form-control"
          required
          [placeholder]="'SIGNUP.CODEBOX'|translate"
        />
      </div>


      <div class="mb-3" *ngIf="register.role">
        <label class="form-label">{{'SIGNUP.FNAME'|translate}}</label>
        <input
          type="text"
          [(ngModel)]="register.first_name"
          name="name"
          class="form-control"
          required
          [placeholder]="'SIGNUP.FNAMEBOX'|translate"
        />
      </div>

      <div class="mb-3" *ngIf="register.role">
        <label class="form-label">{{'SIGNUP.LNAME'|translate}}</label>
        <input
          type="text"
          [(ngModel)]="register.last_name"
          name="name"
          class="form-control"
          required
          [placeholder]="'SIGNUP.LNAMEBOX'|translate"
        />
      </div>

      <div class="mb-3" *ngIf="register.role">
        <label class="form-label">{{'SIGNUP.AGE'|translate}}</label>
        <input
          type="number"
          [(ngModel)]="register.age"
          name="name"
          class="form-control"
          required
          [placeholder]="'SIGNUP.AGEBOX'|translate"
        />
      </div>

      <div class="mb-3" *ngIf="register.role">
        <label class="form-label">{{'SIGNUP.EM'|translate}}</label>
        <input
          type="text"
          [(ngModel)]="register.email"
          name="name"
          class="form-control"
          required
          [placeholder]="'SIGNUP.EMBOX'|translate"
        />
      </div>

      <div class="mb-3" *ngIf="register.role">
        <label class="form-label">{{'SIGNUP.ADDR'|translate}}</label>
        <input
          type="text"
          [(ngModel)]="register.address"
          name="name"
          class="form-control"
          required
          [placeholder]="'SIGNUP.ADDRBOX'|translate"
        />
      </div>

      <div class="mb-3" *ngIf="register.role">
        <label class="form-label">{{'SIGNUP.USER'|translate}}</label>
        <input
          type="text"
          [(ngModel)]="register.username"
          name="username"
          class="form-control"
          required
          [placeholder]="'SIGNUP.USERBOX'|translate"
        />
      </div>

      <div class="mb-3" *ngIf="register.role">
        <label class="form-label">{{'SIGNUP.PASSWORD'|translate}}</label>
        <input
          type="password"
          [(ngModel)]="register.password"
          name="password"
          class="form-control"
          required
          [placeholder]="'SIGNUP.PASSWORDBOX'|translate"
        />
        <small
        class="text-danger"
        *ngIf="register.password && register.password.length < 8">
        {{'SIGNUP.PASSCHCK'|translate}}
        </small>
      </div>
      <div class="mb-3" *ngIf="register.role">
        <label class="form-label">{{'SIGNUP.CONPASS'|translate}}</label>
        <input
          type="password"
          [(ngModel)]="confirmPassword"
          name="password"
          class="form-control"
          required
          [placeholder]="'SIGNUP.CONPASSBOX'|translate"
        />
        <small
        class="text-danger"
        *ngIf="confirmPassword && confirmPassword !== register.password">
        {{'SIGNUP.CONCHCK'|translate}}
        </small>
      </div>


      <button type="submit" class="btn btn-primary w-100" [disabled]="signform.invalid">
        {{'SIGNUP.SUBMIT'|translate}}
      </button>

    </form>

  </div>

</div>