<div class="container mt-5">
  <div class="card shadow p-4 mx-auto" style="max-width: 400px;">

    <h3 class="text-center mb-3">Update Faculty</h3>

    <input type="number"
       [(ngModel)]="id"
       class="form-control mb-2 text-center"
       placeholder="Faculty ID"
       disabled>

    <input type="text"
       [(ngModel)]="faculty.facultyname"
       class="form-control mb-2"
       placeholder="Faculty Name">

    <input type="number"
       [(ngModel)]="faculty.numlevels"
       class="form-control mb-2"
       placeholder="Number Of Levels in Faculty">

    <button class="btn btn-primary w-100" (click)="UpdateFaculty()">Update Faculty</button>

  </div>
</div>